body{
    padding: 0;
    margin: 0;
}



.home_top{
    padding: 0;
    margin: 0;
    float: right;
    width: 83%;
    background-color: #121212;
    color: #b3b3b3;
}
.nav-item{
    padding: 0;
}
.nav_link{
    color: #b3b3b3;
    text-decoration: none;
    padding: 8px;
    display: block;
}
.nav_link:hover{
        color: #fff;
}

.home_left{
    width: 17%;
    height: 100%;
    float: left;
    background-color: #000;
    color: #fff;
    position: fixed;
}
.menu_left{
    background-color: #000;
    color: #fff;
    padding: 0 0 0 8px;
}
.list_left{
    list-style-type: none;
    width: 100%;
    height: 5%;
    padding: 5%;
    color: #b3b3b3;
    font-size: 1.1em;
    font-weight: 700;
}
.list_left:hover{
    color: #fff
}
.under_left{
    height: 300px;
}

.logo{
    font-size:2.5em;
    padding: 5% 0 5% 5%;
    margin: 0;
    /*z-index: 9;*/
}

.login_page{
    float: center;
    padding: 5% 15% 0 0;
}
.search_bar{
    width: 700px;
    margin: 0 0 0 35%;
}
.searchbtn{
    background-color: #000;
    color: #b3b3b3;
    border-color: #b3b3b3;
}
.searchbtn:hover{
    color:#fff;
    background-color: #000;
    border-color: #fff;
}

.main{
    padding: 0;
    margin: 0;
    float: right;
    width: 83%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, #412624 100%);
}

.main_top{
    display: block;
}

.welcome{
    color: #fff;
    font-family: sans-serif;
    font-weight: 750;
    margin: 15px;
}

.card_list{
    width: 100%;
    height: 100%;
    padding: 10px ;
    display: flex;

}

.card_link{
    text-decoration: none;
}
.card_single{
    max-width: 310px;
    max-height: 70px;
    padding: 0;
    margin: 5px 10px 15px 10px;
    display: flex;
    color: #fff;
    background: linear-gradient(to top, #392827 0%, #412624 100%);
    border-radius: 10px;

}
.card_single:hover{
    background: #544a4a ;
}
.card_img{
    width: 70px;
    height: 70px;
    margin:0 10px 0 0;
    display: flex;
    border-radius: 10px;
}
.card_des{
    width: 220px;
    height: 50px;
    display: block;
    margin: 10px;
}
.card_play{
    width: 70px;
    height: 60px;
    display: flex;
    margin: 5px;
    font-size: 2.75em;
}

